{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibration.fm</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <!-- Barre de navigation -->
    <nav class="navbar navbar-expand-lg">
        <!-- Menu hamburger à gauche -->
        {% include "modules/hamburger.html" %}

        <!-- Logo centré -->
        <a class="navbar-brand navbar-center" href="/">
            <img src="{% static 'img/vibration.png' %}" alt="Logo" width="165" height="64">
        </a>
        
        <!-- Lecteur audio à droite -->
        {% include "modules/player.html" %}
    </nav>

    <!-- Scripts Bootstrap et autres -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"></script>
</body>
</html>
