
{% load static %}
{% include "pages/base.html" %}
{% include "modules/navbar.html" %}

<head>
    <link rel="stylesheet" href="{% static 'css/grille_antenne.css' %}">
</head>
<body>

<div id="filter">
    <button class="btn active" onclick="filterSelection('all')"> Touts</button>

    <button class="btn" onclick="filterSelection('Lundi')">Lundi</button>
    <button class="btn" onclick="filterSelection('Mardi')">Mardi</button>
    <button class="btn" onclick="filterSelection('Mercredi')">Mercredi</button>
    <button class="btn" onclick="filterSelection('Jeudi')">Jeudi</button>
    <button class="btn" onclick="filterSelection('Vendredi')">Vendredi</button>
    <button class="btn" onclick="filterSelection('Samedi')">Samedi</button>
    <button class="btn" onclick="filterSelection('Dimanche')">Dimanche</button>
</div>
 
    <div class="container py-5">
        <div class="row">
          <div class="col-md-7">
            <div id="content">
              <ul class="timeline-1 text-black">
                <li class="event" data-date="18h-19h">
                </li> 
                <!--card 1-->
                <div class="card">
                    <div class="card-body">
                      <div class="align-items-center">
                        
                          
                        <div class="ms-2">                          
                          <img src="{% static 'img/IA.jpg' %}" id="img-card" alt="">
                          <h5 class="card-title">Le warm-up</h5>
                          <p class="card-subtitle">Patrick balza</p>
                          <div class="image-wrapper">
                          </div>
                      </div>
                      </div>
                      <p></p>
                    </div>
                  </div>
                    <!--fin card 1-->
              </ul>
            </div>
          </div>
        </div>
    </div>
    <script>
      function filterSelection(day) {
          const events = document.querySelectorAll('.event');
          events.forEach(event => {
              if (event.getAttribute('data-day').toLowerCase() === day.toLowerCase() || day === 'all') {
                  event.style.display = 'block';
              } else {
                  event.style.display = 'none';
              }
          });
      }
  
      // Initial filter
      filterSelection('all');
  </script> 
        
      </body>