{% load static %}
{% include "pages/base.html" %}
{% include "modules/navbar.html" %}

<head>
    <link href="{% static 'css/teams.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/hamburger.css' %}">
</head>

<body>
  <div class="card-container">
    <div class="card">
        <img src="{% static 'img/Photos equipe/Yve-Castel-Edit.jpg' %}" class="card-img-top rounded-circle" alt="Portrait of Yve Castel, Chroniqueur">
        <div class="card-body">
            <h5 class="card-title">Yve Castel</h5>
            <p class="card-text">Chroniqueur</p>
        </div>
        <div class="social-icons">
          <hr>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/Photos equipe/Patrick-Balza-Edit.jpg' %}" class="card-img-top rounded-circle" alt="Portrait of Patrick Balza, Animateur and DJ">
        <div class="card-body">
            <h5 class="card-title">Patrick Balza</h5>
            <p class="card-text">Animateur<br>DJ</p>
        </div>
        <div class="social-icons">
          <hr>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/Photos equipe/collectif constrict/Constrict edit.jpg' %}" class="card-img-top rounded-circle" alt="Portrait of Collectif Constrict, Animateur and Event Organizer">
        <div class="card-body">
            <h5 class="card-title">Collectif Constrict</h5>
            <p class="card-text">Animateur<br>Organisateur de Soirées</p>
        </div>
        <div class="social-icons">
          <hr>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
        <img src="{% static 'img/Photos equipe/wave Philippe Bauwens/WAVES_new_logo_noir_or-transformed.jpeg' %}" class="card-img-top rounded-circle" alt="Portrait of Philippe Bauwens, Animateur">
        <div class="card-body">
            <h5 class="card-title">Phil</h5>
            <p class="card-text">Animateur</p>
        </div>
        <div class="social-icons">
          <hr>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/Photos equipe/Dominique.jpg' %}" class="card-img-top rounded-circle" alt="Portrait of Dominique, Animateur">
        <div class="card-body">
            <h5 class="card-title">Dominique</h5>
            <p class="card-text">Animateur</p>
        </div>
        <div class="social-icons">
          <hr>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/Photos equipe/Logo Foxxy Sound 2018/foxxy sound logo 2018 degrad‚ 01.png' %}" class="card-img-top rounded-circle" alt="Logo of DJ Foxxy, DJ and Site Developer">
        <div class="card-body">
            <h5 class="card-title">DJ FOXXY</h5>
            <p class="card-text">DJ<br>Développeur du Site</p>
        </div>
        <div class="social-icons">
          <hr>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>
  </div>

</body>

{% include "modules/footer.html" %}
